@model HairSalonManagement.Models.Service



<div>
    <h4>Hizmet Detay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>
    </dl>
</div>
@*
@if (Model.Kitaplar.Count > 0)
{
        <ul>
        @foreach (var kitap in Model.Kitaplar)
        {
                    <li>@kitap.KtapAdi</li>
        }
        </ul>
}
else
{
        <div>Hizmete ait herhangi bir çalışan yok</div>
}
*@
