@{
    ViewData["Title"] = "Hizmetlerimiz";
}

@model IEnumerable<HairSalonManagement.Models.Service>


    <a asp-action="HizmetEkle">Yeni Hizmet Ekle</a>
<div class="alert-danger"> @TempData["msj"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
//@foreach (var item in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.DurationMinutes)
            </td>
            <td>
                    <a asp-action="HizmetDuzenle" asp-route-id="@item.ServiceID">Yazar Düzenle</a> |
                    <a asp-action="HizmetDetay" asp-route-id="@item.ServiceID">Yazar Detay</a> |
                    <a asp-action="HizmetSil" asp-route-id="@item.ServiceID">Yazar Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>


